<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li id="homeNavHeader"><a href="index.html">Home</a>
                </li>
                <li id="projectNavHeader" class="dropdown" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">About the Project <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="introduction.html">Introduction</a>
                        </li>
                        <li><a href="oralHistory.html">Teaching Oral History</a>
                        </li>
                    </ul>
                </li>
                <li id="warNavHeader" class="dropdown" class="dropdown" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">The War <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="briefTimeline.html">Brief Timeline</a>
                        </li>
                        <li><a href="citedWorks.html">Cited Works</a>
                        </li>
                        <li><a href="/articles">Articles</a>
                        </li>
                    </ul>
                </li>
                <li id="interviewsNavHeader" class="dropdown" class="dropdown" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">The Interviews <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="interviewOverview.html">Overview</a>
                        </li>
                        <li><a href="interviewers.html">The interviewers</a>
                        </li>
                        <li><a href="glossary.html">Glossary</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>